@font-face {
  font-family: "twemoji";
  src: url("../../public/assets/fonts/Twemoji.Mozilla.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "montserrat";
  src: url("../../public/assets/fonts/Montserrat-VariableFont_wght.ttf");
}
